<!DOCTYPE html>
<html lang="en">
<head>
  <title>Project Activity Spot</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="row">
        <div class="col-md-8">
            <h2>Title</h2>
            <input>
        </div>
        <div class = "col-md-4">
            <h2>Location</h2>
            <input>
        </div>
    </div>
    <div class="row">
        <div class = "col-md-8">
            <h3>Activity Description</h3>
            <textarea id="Description" rows="12" cols="70" required><%= name %>, you post for Total Sports can be entered here.</textarea>
        </div>
        <div class = "col-md-4">
            <h3>Activity Gallery</h3>
        </div>
    </div>
    <div class="row">
        <div class = "col-md-4">
            <h3>Keywords</h3>
            <input>
        </div>
        <div class = "col-md-4">

        </div>
        <div class = "col-md-4">
            <select>
                <option></option>
                <option>blog</option>
                <option>meetup</option>
            </select>
            <h3>Submit</h3>
        </div>
    </div>
</body>

<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
        <h6 class="text-uppercase font-weight-bold">Additional Information</h6>
        <p>You can contact our costumer support at any time of the day! We are open 24/7.</p>
        <p>Don't forget to exercise! </p>
      </div>
      <div class="col-lg-4">
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <p>7000 York Rd., Towson, MD, 20832
        <br/>info@groupproject.com
        <br/> (123)456-7890
        <br/> (123)123-1234</p>
      </div>
    </div>
    <div class="footer-copyright text-center">© 2020 Copyright: Group Project</div>
  </footer>
</html>