*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

body{
    background-image: url('/images/picture.jpg');
    background-size: cover;
}

.row{
    text-align: center;
}

h2, h3, p, h6{
    color: azure;
}

.col-md-5{
    margin-top: 30%;
    margin-left: 30%;

}
