body {
  padding: 0;
  margin: 0;
  background: #fefefe;
}

#topHeader {
  border-bottom: 1px solid #ebebeb;
}

#topHeader a {
  color: #2c3e50;
  font-weight: 600;
  font-size: 0.89rem;
}

.navbar {
  background: darkcyan;
}

.nav-link,
.navbar-brand {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.nav-link {
  margin-right: 1em !important;
}

.nav-link:hover {
  color: #000;
}

.navbar-collapse {
  justify-content: flex-end;
}

.header {
  background-image: url('/images/picture.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.header.soccer  {
  background-image: url('/images/soccerField.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.header.rockclimbing {
  background-image: url('/images/rockclimbing.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.header.bjj {
  background-image: url('/images/bjj.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(29, 28, 28, 0.6);
}

.description {
  left: 50%;
  position: absolute;
  top: 35%;
  transform: translate(-50%, -55%);
  text-align: center;
}

.description h1 {
  color: #cde7e9;
}

.description p {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.5;
}

.description button {
  border: 1px solid transparent;
  background: transparent;
  border-radius: 0;
  color: #fff;
}

.description button:hover {
  border: 1px solid #fff;
  background: #fff;
  color: #000;
}

.features {
  margin: 4em auto;
  padding: 1em;
  position: relative;
}

.feature-title {
  color: #333;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.features img {
  -webkit-box-shadow: 1px 1px 4px rgba(143, 114, 114, 0.4);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
}

.features .form-control,
.features input {
  border-radius: 0;
}

.features .btn {
  background-color: #589b37;
  border: 1px solid #589b37;
  color: #fff;
  margin-top: 20px;
}

.features .btn:hover {
  background-color: #333;
  border: 1px solid #333;
}

.page-footer {
  background-color: #222;
  color: #ccc;
  padding: 60px 0 30px;
}

.footer-copyright {
  color: #666;
  padding: 40px 0;
}

.cancel {
  margin-left: 5%;
  display: none;
}

.cancel:hover {
  background-color: grey;
}

table#t01 {
  border: 1px solid black;
  width: 95%;
}

table#t01 th,
td {
  padding: 8px;
  height: 15px;
}

table#t01 th {
  background-color: #e60000;
  color: white;
  text-align: center;
}

table#t01 td {
  width: 50%;
  vertical-align: middle;
}

table#t02 {
  border: 1px solid black;
  width: 95%;
}

table#t02 th,
td {
  padding: 8px;
  height: 15px;
}

table#t02 th {
  background-color: #008ae6;
  color: white;
  text-align: center;
}

table#t02 td {
  width: 50%;
  vertical-align: middle;
}

table#t03 {
  border: 1px solid black;
  width: 95%;
}

table#t03 th,
td {
  padding: 8px;
  height: 15px;
}

table#t03 th {
  background-color: green;
  color: white;
  text-align: center;
}

table#t03 td {
  width: 50%;
  vertical-align: middle;
}

.my-custom-scrollbar {
  position: relative;
  height: 200px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}

.col-md-5{
  margin-top: 30%;
  margin-left: 30%;
}

.row{
  text-align: center;
}

h2, h3, .createdBy, .activity {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  color: white;
}